<div id="<%= dom_id contact %>">
  <p>
    <strong>Email address:</strong>
    <%= contact.email_address %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Nick:</strong>
    <%= contact.nick %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= contact.age %>
  </p>

</div>
